extends layout

block content
	.ui.page.grid
		.five.wide.column
			.ui.message
				h2.center
					| Victor Zidaroiu
				p
					a.ui.label(href='mailto:victor@zidaroiu.com')
						i.mail.icon
						| victor@zidaroiu.com
				p
					a.ui.label(href='http://github.com/victorzidaroiu')
						i.github.icon
						| github.com/victorzidaroiu
				p
					a.ui.label(href='skype:victorzidaroiu')
						i.skype.icon
						| victorzidaroiu
				p
					span.ui.label
						i.phone.icon
						| +40773970224
		.ten.wide.column
			.ui.message
				h1.ui.header Hi.
				h4.strong
					| My name is Victor Zidaroiu, I am a Web Developer working at&nbsp;
					a(href='http://icona.it') Icona
					| .
			a(href='/Victor_Zidaroiu_CV.pdf').ui.icon.message
				i.download.icon
				.content
					h3
						| Download my resume
			a(href='/personal-projects').ui.icon.message
				i.arrow.right.icon
				.content
					h3
						| Check out my personal projects

			a(href='/work-projects').ui.icon.message
				i.arrow.right.icon
				.content
					h3
						| Check out my work projects