doctype	html
html(ng-app="productsApp")
	head
		title= title
		link(rel='stylesheet',	href='/lib/semantic-ui/semantic.min.css')
		link(rel='stylesheet',	href='/css/style.css')
	body
		block content
		script(type='text/javascript' src='/lib/jquery-2.1.4.min.js')
		script(type='text/javascript' src='/lib/semantic-ui/semantic.min.js')